@import "~@fortawesome/fontawesome-free/css/all.min.css";

.header {
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 25px;
}

.iconGov {
    width: 100px;
    height: 36.13px;
  }