.ranque-container {

  .margem {
    margin-left: 30px;
    margin-right: 30px;
  }

  .icon-color {
    color: #1351b4;
  }

  .button-no-border {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .filtros {
    display: flex;
    flex-direction: row;
  }

  .label {
    display: block;
    margin-bottom: 5px;
  }

  .processamento-info {
    text-align: right;
    margin-top: -50px;
  }

  .processamento-info2 {
    text-align: right;
    margin-top: -65px;
  }

  .small-font {
    font-size: 13px;
    margin-left: 5px;
  }

  .modal-content {
    margin-left: 10px;

  }

  .lateralmodal {
    margin-left: 300px;
    margin-top: -300px;
  }
}