.logoDnit {
  width: 300px;
  height: 66px;
}

.form {
  padding: 3.5%;
  margin-top: 0;
  box-shadow: 0px 2px 4px var(--black1);
  border-radius: 10px;
}

.form p {
  justify-content: flex-start;
  display: flex;
}

.form label {
  font-weight: 1000;
}

.form h2 {
  justify-content: flex-start;
  display: flex;
}

.formc {
  padding: 1.5% 3.5%;
  margin-top: 0px;
  box-shadow: 0px 2px 4px var(--black1);
  border-radius: 10px;
  display: flex;
  height: auto;
}

.formc p {
  justify-content: flex-start;
  display: flex;
}

.formc label {
  font-weight: 1000;
}

.formc h2 {
  justify-content: flex-start;
  display: flex;
}

.ant-input-affix-wrapper>input.ant-input {
  background-color: var(--gray1);
}

.ant-select-selector {
  width: 100% !important;
  background-color: var(--gray1) !important;
  border: 1px solid var(--gray2) !important;
  border-radius: 2px !important;
  width: 21.5em;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 21.5em;
  border: 1px solid var(--gray2);
  border-radius: 2px;
  background-color: var(--gray1) !important;
  /* background-color: var(--gray1); */
  text-align: left;
  padding-left: 11px;
}

.ant-select-selection-item {
  display: flex;
  gap: 4px;
}

.loginButton {
  background-color: var(--blue);
  width: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpButton {
  width: 116px;
  border-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton p {
  margin: 0;
}

.recuperarsenha {
  display: flex;
  justify-content: end;
}

.signUpButton p {
  margin: 0;
  color: var(--blue);
}

.form a {
  margin-bottom: 7%;
  font-size: 13px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  justify-content: left;
  display: flex;
  transition: filter 0.3s;
  color: var(--blue);
  font-family: Rawline, sans-serif;
}

.formc a {
  margin-top: 5%;
  font-size: 13px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on;
  justify-content: left;
  display: flex;
  transition: filter 0.3s;
  color: var(--blue);
  font-family: Rawline, sans-serif;
}

.form a:hover {
  filter: brightness(0.4);
}

.form h2 {
  font-size: 1.8em;
  color: var(--gray3);
  font-weight: 500;
  justify-content: center;
}

.formc a:hover {
  filter: brightness(0.4);
}

.formc h2 {
  justify-content: center;
  font-size: 1.8em;
  color: var(--gray3);
  font-weight: 500;
  margin-top: 0;
}

.form-email {
  margin-top: 0px;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--gray3);
}

.fas.fa-envelope {
  margin-right: 4%;
  color: var(--blue);
  height: 15.75px;
  width: 17.5px;
  border-radius: 0px;
}

.fas.fa-lock {
  margin-right: 4%;
  color: var(--blue);
  height: 15.75px;
  width: 17.5px;
  border-radius: 0px;
}

.fas.fa-user {
  margin-right: 4%;
  color: var(--blue);
  height: 15.75px;
  width: 17.5px;
  border-radius: 0px;
}

.fas.fa-city {
  color: var(--blue);
}

.ant-form-item-label {
  padding: 0 0 5px;
}

.form-item-select{
  background-color: red !important;
}

.ant-form-vertical .ant-form-item-label>label {
  font-size: 1em;
  font-weight: 350;
  font-family: Rawline, sans-serif;
}

.formc .ant-form-item {
  margin-bottom: 10px;
}

.select-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.select-group i {
  position: absolute;
  z-index: 1;
  color: var(--blue);
  font-size: 15px;
}

.uf-municipio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.inputForm {
  height: 5%;
  border: 1px solid var(--gray2);
  border-radius: 2px;
  background-color: var(--gray1);
  
}

.politica {
  float: left;
}

.ajuda {
  float: right;
}

.radioButtons {
  height: 10px;
  background-color: white;
}

.item {
  margin-bottom: 0px;
}

.ext1 {
  margin-bottom: 10%;
}

.ext2 {
  margin-bottom: 10%;
}

.radio1 {
  font-family: Rawline, sans-serif;
  font-weight: 500;
}

.radio2 {
  font-family: Rawline, sans-serif;
  font-weight: 500;
}

.formrs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: fit-content;
}

.formrs h2 {
  font-family: Rawline, sans-serif;
  font-size: 1.8em;
  color: var(--gray3);
  font-weight: 750;
  margin-bottom: 0.5rem;
}

.formrs label {
  font-weight: 1000;
}

.form1 {
  margin-top: 2rem;
}

.insbutton {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.button1 {
  background-color: #1351b4;
  width: 14em;
}

.button2 {
  margin-top: 1rem;
  zoom: 80%;
  width: 10em;
  background-color: #1351b4;
}

.proximo {
  float: right;
}

.voltar {
  float: left;
}

.bloco {
  width: 18rem;
  margin-right: 2rem;
  margin-left: 1rem;
}

.bloco2 {
  width: 18rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bloco3 {
  width: 18rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.inputForm2 {
  width: 21.5em;
  height: 5%;
  font-weight: 350;
  border: 1px solid var(--gray2);
  border-radius: 2px;
  background-color: var(--gray1);
}

.divScroll {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1250px) {
  .form {
    padding: 5%;
  }

  .formc {
    padding: 5%;
  }

  .formrs {
    padding: 5%;
  }

  .logoDnit {
    width: 180px;
    height: 56px;
  }
}

.option-municipio {
  color: black;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
}

.esqueci {
  display: flex;
  justify-content: center;
}