.collapse-example{
    font-family: 'Rawline', sans-serif;
    height: 10%;
    width: 100%;
}

.flex-fill{
    padding-right: 60%;
}

.conteudo{
    padding-left: 60px;
    background-color: #F8F8F8;
}

.conteudo .align-items-center.br-item{
    background-color: #F8F8F8;
}


