@import '~@fortawesome/fontawesome-free/css/all.min.css';

.frame {
    display: flex;
    width: 40%;
    height: 65%; 
    
    margin: auto;
    
    background-color: #FFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.title{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Rawline SemiBold';
    font-size: 41.8px;
    line-height: 49px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #333333;
}
.fields-name{
    margin-top: 5%;
    font-family: 'Rawline Medium';
    font-size: 20px;
    line-height: 23px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #333333;
}
.box{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-top: 20%;
    padding-left: 10%;
}
.input{
    
    height: 5%;
    width: 88%;
    border: 1px solid rgba(161, 161, 161, 1);
    border-radius: 2px;
    background-color: #D9D9D9;
}
.label{
    margin-top: 7%;
    margin-bottom: 7%;
    font-family: 'Rawline Medium';
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #006699;
}
.fas.fa-envelope{
    margin-right: 4%;
    color: rgba(19, 81, 180, 1);
    height: 15.75px;
    width: 17.5px;
    border-radius: 0px;

}
.fas.fa-lock{
    margin-right: 4%;
    color: rgba(19, 81, 180, 1);
    height: 15.75px;
    width: 17.5px;
    border-radius: 0px;
}
input:focus{
    outline: none;
}