.form3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.botaoEscolherArquivo {
    background-color: #1351B4;
}

.secaoInserir{
    background-color: white;
    display: flex;
    align-items: center;
    width: 40em;
    height: 15em;
    justify-content: center;
    flex-direction: column;
}

.ant-upload-text{
    padding-left: 2em;
    padding-right: 2em;
}

.container-botoes{
    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
    margin-left: 60%;
    gap: 1em;
}

.button1{
    color: white;
    margin-left: 1em;
}

.botaoCancelar{
    color: #1351B4;
}

.botaoEnviar{
    background-color: #1351B4;
}