.container-formulario{
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.container-inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35em;
}

.container-botao{
    width: 35em;
}

.button2{
    color: white;
    font-size: 1.1em;
    width: 100%;
    height: 5vh;
    border-radius: 10em;
}

.inputLatLong{
    max-width: 95%;
    height: 5%;
    font-weight: 350;
    border: 1px solid var(--gray2);
    border-radius: 2px;
    background-color: var(--gray1);
}
