@import "~@fortawesome/fontawesome-free/css/all.min.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid var(--gray1);
  padding: 0 25px;
  height: 85px;
}

.iconGov {
    width: 100px;
    height: 36.13px;
  }

 
  