@font-face {
  font-family: 'Rawline';
  src: url('https://www.cdnfonts.com/rawline.font') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFFF;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
  border-bottom:1px solid #E5E5E5;
  padding: 0 25px;
}

.iconGov {
  width: 100px;
  height: 36.13px;
}

.logoDnit {
  display: flex;
  width: 350px;
  height: 90px;
}

.buttonContraste {
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
}
.buttonContraste img{
  transition: transform 0.3s ease;
}
.buttonContraste:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.HeaderContraste {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  font-family: Rawline;
}

.HeaderIcon {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 24.19px;
  font-family: Arial, Helvetica, sans-serif;
}

.HeaderIcon p {
  padding-bottom: 3px;
  border-left: 1px solid #CCCCCC;
  padding-left: 24px;
  font-family: Rawline;
}

.Secao {
  background-color: #FFFF;
  height: 100%;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.Lateral {
  background-color: #002E6E;
  display: flex;
  width: 40%;
  height: 100vh;
  float: left;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Central {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display:flex;
  border-radius: 10px;
  position: relative;
}