.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFFF;
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
  border-bottom:1px solid #E5E5E5;
  padding: 0 25px;
}

.iconGov {
  width: 100px;
  height: 36.13px;
}

.buttonContraste {
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
}
.buttonContraste img{
  transition: transform 0.3s ease;
}
.buttonContraste:hover {
  transform: scale(1.2);
}

.HeaderContraste {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.HeaderIcon {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 24.19px;
  font-family: Arial, Helvetica, sans-serif;
}

.HeaderIcon p {
  padding-bottom: 3px;
  border-left: 1px solid #CCCCCC;
  padding-left: 24px;
}

.Secao {
  background-color: #FFFF;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.Lateral {
  background-color: #002E6E;
  width: 570px;
  height: 809px;
  display: flex;
}

.Central {
  height: 50%;
  display: flex;
}

.logoDnit {
  display: flex;
  width: 350px;
  height: 89.21px;
  padding-top: 350px;
  padding-left: 110px;
}

