body {
  margin: 0;
  fontFamily: Rawline, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Rawline, sans-serif;
}

.dialog-create-perfil {
  .br-modal {
    height: fit-content;
    max-height: 80svh;
  }
}

.w-100 {
  width: 100%;
} 